/* https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */
$charcoal: #264653ff;
$persian-green: #2a9d8fff;
$orange-yellow-crayola: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;

$brand-primary: $charcoal;
$btn-default-bg: darken(#f8f8f8, 6.5%);
$btn-default-border: $btn-default-bg;
$btn-primary-border: $charcoal;
$font-family-base: 'Maven Pro';
$modal-header-border-color: transparent;
$o-button-dirty-bg: $sandy-brown;
$o-login-form-bg-img: 'images/login-bg.jpg';
$o-login-btn-register-bg: $persian-green;
